@{
    ViewData["Title"] = "GIỚI THIỆU";
    Layout = "~/Views/Shared/GuestLayout.cshtml";
}

<div class="ltn__utilize-overlay"></div>

<!-- ABOUT US AREA START -->
<div class="ltn__about-us-area pt-25--- pb-120 ">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 align-self-center">
                <div class="about-us-img-wrap about-img-left">
                    <img src="https://maelectrics.com/tf/html/vicodin-preview/vicodin/img/others/9.png" alt="About Us Image">
                </div>
            </div>
            <div class="col-lg-6 align-self-center">
                <div class="about-us-info-wrap">
                    <div class="section-title-area ltn__section-title-2--- mb-30">
                        <h6 class="section-subtitle section-subtitle-2 ltn__secondary-color d-none">About Us</h6>
                        <h1 class="section-title">Mã Phúc Huy Hospital</h1>
                        <p>
                            Đồ án Website (HOS-MPH) ra đời với sứ mệnh cung cấp dịch vụ y tế tốt nhất,
                            an toàn và đáng tin cậy.
                        </p>
                    </div>
                    <ul class="ltn__list-item-1 ltn__list-item-1-before--- clearfix">
                        <li><i class="fas fa-check-square"></i> Đơn giản hoá các thủ tục, giảm thời gian chờ đợi.</li>
                        <li><i class="fas fa-check-square"></i> Bác sĩ dễ dàng truy xuất thông tin, đưa ra phương án chữa bệnh tối ưu.</li>
                        <li><i class="fas fa-check-square"></i> MPH-HOS mang lại nhiều lợi ích cho y bác sĩ và bệnh nhân.</li>
                    </ul>
                    <div class="about-author-info-2 border-top mt-30 pt-20">
                        <ul>
                            <li>
                                <div class="about-author-info-2-brief  d-flex">
                                    <div class="author-img">
                                        <img src="/GuestElement/img/blog/phuchuy.jpg" alt="#">
                                    </div>
                                    <div class="author-name-designation">
                                        <h4 class="mb-0">Phúc Huy</h4>
                                        <small>Chuyên gia y tế</small>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="about-author-info-2-contact  d-flex">
                                    <div class="about-contact-icon d-flex align-self-center mr-10">
                                        <i class="icon-call"></i>
                                    </div>
                                    <div class="about-author-info-2-contact-info">
                                        <small>Liên hộ hỗ trợ</small>
                                        <h6 class="mb-0">+84-966-701-482</h6>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ABOUT US AREA END -->

<div class="ltn__about-us-area pt-25--- pb-120 ">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 align-self-center">
                <div class="about-us-info-wrap">
                    <div class="section-title-area ltn__section-title-2--- mb-30">
                        <h6 class="section-subtitle section-subtitle-2 ltn__secondary-color d-none">About Us</h6>
                        <h1 class="section-title">Nhiệm vụ của MPH-HOS</h1>
                        <p>
                            Bệnh viện Mã Phúc Huy được xây dựng dựa trên 5 giá trị cơ bản và cốt lõi:
                            Mang tới cho người bệnh dịch vụ y tế và chăm sóc tốt nhất, chuyên nghiệp
                        </p>
                    </div>
                    <ul class="ltn__list-item-1 ltn__list-item-1-before--- clearfix">
                        <li><i class="fas fa-check-square"></i> Đào tạo, nghiên cứu và cập nhật các phương pháp điều trị chuyên nghiệp.</li>
                        <li><i class="fas fa-check-square"></i> Chế độ chăm sóc người bệnh chuẩn mực và đẳng cấp nhất.</li>
                        <li><i class="fas fa-check-square"></i> Thương hiệu uy tín hàng đầu về chăm sóc sức khỏe, là địa chỉ tin cậy của mọi bệnh nhân.</li>
                    </ul>

                </div>
            </div>

            <div class="col-lg-6 align-self-center">
                <div class="about-us-img-wrap about-img-left">
                    <img src="/GuestElement/img/contact2.jpg" alt="About Us Image">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- FEATURE AREA START ( Feature - 6) -->
<div class="ltn__feature-area pt-90 pb-90">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title-area ltn__section-title-2--- text-center">
                    <h1 class="section-title">THÔNG TIN LIÊN HỆ</h1>
                </div>
            </div>
        </div>
        <div class="row ltn__custom-gutter">
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="ltn__feature-item ltn__feature-item-6 text-center">
                    <div class="ltn__feature-icon">
                        <!-- <span><i class="flaticon-apartment"></i></span> -->
                        <img src="/GuestElement/img/icons/icon-img/lienhe1.jpg" alt="#">
                    </div>
                    <div class="ltn__feature-info">
                        <h4><a>Địa chỉ</a></h4>
                        <p>
                           783 CMT8, P.6, Quận Tân Bình, TP.HCM
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="ltn__feature-item ltn__feature-item-6 text-center active">
                    <div class="ltn__feature-icon">
                        <!-- <span><i class="flaticon-park"></i></span> -->
                        <img src="/GuestElement/img/icons/icon-img/lienhe2.jpg" alt="#">
                    </div>
                    <div class="ltn__feature-info">
                        <h4><a>Hotline 24/7</a></h4>
                        <p>1900 8172<br />Hỗ trợ khách hàng 24/7</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="ltn__feature-item ltn__feature-item-6 text-center">
                    <div class="ltn__feature-icon">
                        <!-- <span><i class="flaticon-maps-and-location"></i></span> -->
                        <img src="/GuestElement/img/icons/icon-img/lienhe3.jpg" alt="#">
                    </div>
                    <div class="ltn__feature-info">
                        <h4><a>Nhân viên tiếp nhận</a></h4>
                        <p>0979510278 (Mr. Tân)<br />0955854225 (Mr. Gia Huy)</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="ltn__feature-item ltn__feature-item-6 text-center">
                    <div class="ltn__feature-icon">
                        <!-- <span><i class="flaticon-excavator"></i></span> -->
                        <img src="/GuestElement/img/icons/icon-img/27.png" alt="#">
                    </div>
                    <div class="ltn__feature-info">
                        <h4><a>Hỗ trợ online</a></h4>
                        <p>Bấm vào đây để được kết nối trực tiếp đến với chuyên viên tư vấn.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- FEATURE AREA END -->
