

@model HospitalManagement.Models.TheLoai

<div class="container-fluid" id="pannelTheLoai">
    <h1>Thông tin</h1>
    <hr />
    <div class="row m-2">                    
         <div class="col-6 row">
            <div class="col-4" style="font-weight:bold!important">
                Tên thể loại
            </div>
            <div class="col-12">
                @Html.DisplayFor(model => model.TenTL)
            </div>
        </div>    
    </div>
</div>






